.body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 5em;
    

.header-container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    text-align: start;
    padding: 5em;
    font-size: 32px;
}
.header-container > div {
    flex-grow: 1;
}
.aboutMe {
    text-align: center; 
    font-size: 32px;
}
.navigation {
    display: flex;
    flex-direction: row;
    justify-content: ;
    text-align: center;
    padding: 5em;
    font-size: 32px;
}
.contact-information {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    padding: 5em;
    font-size: 32px;
}
.education {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    padding: 5em;
    font-size: 32px;
}
.language {
    text-align: start;
    padding: 5em;
    font-size: 32px;
}
.e-history {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    padding: 5em;
    font-size: 32px;
}
.add-information {
    text-align: start;
    padding: 5em;
    font-size: 32px;
}
.footer1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    padding: 5em;
    font-size: 32px;
}